.topgnf{

    width: 100vw; 
    height: 10vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;
}

a:hover{
    text-decoration: none;
}


.menubtn{
    border-radius: 0.5rem;
    width: 15rem; 
    height: 30rem;  
    object-fit: cover;
    object-position: center; 
    z-index: 0;
}

.menuoverlay{
    background-color: rgba(0, 0, 0, 0.5) !important; 
    border-radius: 0.5rem;
    width: 15rem; 
    height: 30rem;
    position: absolute;
}


.menuoverlay:hover{
    transition-duration: 1s ease;
    -webkit-transition-duration: 1s ease;
    border-radius: 0.5rem;
    box-shadow: 
    inset 0rem 0rem 0.5rem 0.1rem rgba(255, 255, 255, 0.2),
    0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.menuoverlay:active{
    transition-duration: 1s ease;
    -webkit-transition-duration: 1s ease;
    border-radius: 0.5rem;
    box-shadow: 
    inset 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}


.dismenuoverlay{
    background-color: rgba(0, 0, 0, 1) !important; 
    border-radius: 0.5rem;
    width: 15rem; 
    height: 30rem;
    position: absolute;
}


.dismenuoverlay:hover{
    transition-duration: 1s ease;
    -webkit-transition-duration: 1s ease;
    border-radius: 0.5rem;
    box-shadow: 
    0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.5);
}


.menu{
    width: 15rem; 
    height: 30rem;
}


.nact{
    text-shadow: 0 0 3px #ccf;
    color: #fff;
    margin-bottom: 1.5rem;
}

.nact:hover{
    text-shadow: 0 0 3px #ccf;
    color: #fff;
    margin-bottom: 1.5rem;
}

.ndis{
    color: #fff;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.ndis:hover{
    text-shadow: 0 0 3px #ccf;
    cursor: pointer;
    margin-bottom: 1.5rem;
    color: #fff;
}